SESSION_SECRET=dde6e7e80391a9c0139ef5539d
DATABASE_URL=
PORT=3000
CLIENT_ADMIN_KEY=your-long-admin-key
REFRESH_SECRET=d3b143
GOOGLE_CLIENT_ID=155792065651-siksgrcontent.com
GOOGLE_CLIENT_SECRET=GOCSPX
GOOGLE_REDIRECT_URI=http:/
